@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  color: #3b82f6;
  scale: 1.4;
  z-index: 10;
}

.swiper-button-prev {
  left: -40px !important;
}

.swiper-button-next {
  right: -40px !important;
}


.swiper-pagination {
  bottom: 0 !important;
  text-align: center;
  position: relative;
}

